# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized

__Objectives__
+ use of markdowns 
+ popular languajes used in data science
+ data science tools
+ data science libraries
+ evaluation of arithmetical expressions

Some of the popular languages that Data Scientists use are:
1. Pyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scipy
3. Numpy
4. Matplotlib
5. Tensorflow

|Data Science Tools|
|------------------|
|Anaconda          |
| Jupyter Notebook |
| Jupyter Lab      |
|R Studio          |
|Visual Studio     |
| Google Colab     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
#H=time in hours
#m=time in minutes
m=200
H=m/60

print(H)

3.3333333333333335

## Autor
Suemi Alejandra Gonz√°lez Azcorra